# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Informatica Inholland\Leerjaar 2\Periode 1\Java Fundamentals\Project afsluiting\Project\sander-brijer-646235-end-assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
